@import '../../styles.scss';

$retro-font: 'Press Start 2P', cursive; // Utiliser une police rétro (Google Fonts)
$retro-bg: #1a1a2e;
$retro-border: #e94560;
$retro-text: #f5f5f5;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// Conteneur pour organiser les cartes en grille
.jeu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // Trois colonnes
  gap: 20px; // Espacement entre les cartes
  padding: 20px;
  background-color: $retro-bg;
  justify-items: center; // Centrer les cartes horizontalement
}

// Style pour chaque carte
.jeu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $retro-bg;
  color: $retro-text;
  padding: 20px;
  border: 5px solid $retro-border;
  border-radius: 10px;
  box-shadow: 0 0 20px $retro-border;
  font-family: $retro-font;
  width: 300px; // Largeur fixe pour toutes les cartes
  height: 400px; // Hauteur fixe pour toutes les cartes
}

.jeu-miniature {
  width: 100%;
  height: auto;
  border: 3px solid $retro-border;
  border-radius: 5px;
  margin-bottom: 15px;
}

.jeu-details {
  text-align: center;
}

.jeu-titre {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-family: $retro-font;
}

.jeu-plateforme,
.jeu-developpeur,
.jeu-date,
.jeu-stock {
  font-size: 0.7rem;
  margin: 5px 0;
}