<div class="jeu-container">
    <img [src]="theJeu.miniature" alt="{{ theJeu.titre }}" class="jeu-miniature" />
    <div class="jeu-details">
      <h1 class="jeu-titre">{{ theJeu.titre }}</h1>
      <p class="jeu-plateforme">Plateforme : {{ theJeu.plateforme }}</p>
      <p class="jeu-developpeur">Développeur : {{ theJeu.developpeur }}</p>
      <p class="jeu-date">Date de sortie : {{ theJeu.dateDeSortie | date: 'dd/MM/yyyy' }}</p>
      <p class="jeu-stock">Stock disponible : {{ theJeu.stock }}</p>
    </div>
  </div>